<!doctype html>  
<html>  
  <head>
    <meta charset="utf-8">
    <title>Hola Mundo!</title>
    <script>window.$ = window.jQuery = require('./../node_modules/jquery/dist/jquery.min.js');</script>
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./../node_modules/bootstrap/dist/js/moment.js"></script>
    <script src="./../node_modules/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap-datetimepicker.min.css">

    
  </head>
  <body>
    <h1>Sistema de arriendo de bicicletas</h1>
    <div class="container">
      <a class="btn btn-primary" href="reserva.html">Realizar reserva</a>
    </div>
  </body>
</html> 